@import "mixins/breakepoints.scss";
@import "vars.scss";

html {
    box-sizing: border-box;
  }
a, a:active, a:visited a:active{
    text-decoration: none;
    color: black;
  }
.container {
    margin: 0 auto;
    max-width: 1230px;
    @include descktop_min {
      max-width: 900px;
    }
    @include tablet_max {
      max-width: 768px;
    }
    @include tablet_max {
      max-width: 576px;
    }
    @include tablet_min {
      max-width: 500 px;
    }
    @include mobile {
      max-width: 320px;
    }
  }
.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.centered {
    text-align: center;
  }
.title {
    color: $darkBlue;
    font-family: 'NotoSans-Bold';
    font-size: 40px;
    text-align: center;
    padding: 60px 0px 40px 0px;
    @include descktop_min {
      padding: 40px 0px 40px 0px;
      font-size: 25px;
    }
}
.arrow {
  margin: 0 auto;
  width: 40px;
  height: auto;
  padding: 80px 0px 20px 0px;
  @include mobile {
    padding: 30px 0px 20px 0px;
  }
}


//menu_button
.menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid $darkBlue;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  left: 3px;
  top: 1px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include tablet_max {
    display: block;
  }
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}
//menu__side
.menu__side {
  display: none;
  background: rgb(83,131,158);
  background: linear-gradient(0deg, rgba(83,131,158,1) 0%, rgba(33,113,156,1) 100%);
  overflow-y: auto;
  transition: all 2s;
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  border-right: 1px solid $darkBlue;
  @include tablet_max {
    width: 40%;
  }
  @include tablet_min {
    width: 50%;
  }
  @include mobile {
    width: 72%;
  }
  &-list {
    @include flex-column-center;
  }
  &-link {
    font-family:'NotoSans-Bold';
    font-size: 20px;
    color: $darkBlue;
    &:hover {
      color: #b8ceda;
      border-bottom: 2px solid #b8ceda;
      transform: scale(1s);
    }
  }
  &-item {
    padding-top: 20px;
  }
  &-logo {
    width: 150px;
    height: auto;
    margin-top: 15px;
  }
}
.menu__side-active {
  display: block;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}
//Button_up
#arrow__up {
  width: 50px;
}
#button-up {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 10px;			 
  text-align: center;
  font-size: 30px;
  padding: 15px;
  transition: .3s;
}
 
#button-up:hover {
  cursor: pointer;
  transition: .3s;
}